name: "House-keeping"

on:
  workflow_dispatch:
    inputs:
      confirm_destroy:
        description: "Type YES to confirm destroy"
        required: true
        default: "NO"

jobs:
  destroy:
    name: "House-keeping"
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    if: github.event.inputs.confirm_destroy == 'YES'

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - uses: quartx-analytics/ghcr-cleaner@v1
        with:
          owner-type: user
          token: ${{ secrets.GITHUB_TOKEN }}
          package-name: interview-app
          delete-untagged: false
          keep-at-most: 5
