name: "House-keeping"

# Only manual triggers (workflow_dispatch)
on:
  workflow_dispatch:
    inputs:
      confirm_destroy:
        description: "Type YES to confirm destroy"
        required: true
        default: "NO"

jobs:
  destroy:
    name: "House-keeping"
    runs-on: ubuntu-latest

    permissions:
      id-token: write      # 
      contents: read       #
      pull-requests: write

    if: github.event.inputs.confirm_destroy == 'YES'  # Prevent accidental destroy

    steps:
      # Step 1: Checkout repo
      - name: Checkout Code
        uses: actions/checkout@v4

      # Step 2: Delete all untagged image version from the given package name 
      - uses: quartx-analytics/ghcr-cleaner@v1
        with:
            owner-type: user # or user
            token: ${{ secrets.GITHUB_TOKEN }}
            repository_owner: ${{ github.repository_owner }}
            repository-name: ${{ github.repository }}
            package-name: "interview-app"
            delete-untagged: false
            keep-at-most: 5
